@charset "UTF-8";

* {
    margin:  0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(155, 116, 197);
   
}

h1 {
    color: white;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.143);
    padding: 10px;
}

