@charset "UTF-8";

* {
    font-family: Arial, Helvetica, serif;

}

p {
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #44D6DB, #44A7DC,#484BDB, #7648DB);

}

main {
    background-color: rgb(227, 219, 219);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #424D64;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #424D64;
   text-align: center;
   text-shadow: 2px 2px 4px ;
}

h2 {
    color: #6378a1;
}